@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(180, 180, 180);
}

.container {
  display: grid;
  grid-template-columns: 150px 100px auto;
  grid-template-rows: 200px 600px 700px 150px;
  grid-template-areas: "hider hider hider" "band band band" "half half half" "foot foot foot";
}

header {
  /* Ici on indique au header qu'il doit occuper
   toutes les tois colones de la première ligne de notre grille.*/
  grid-area: hider;
  /*Par ailleurs on va créer une autre grille
  à l'intérieur du header afin de pouvoir placer les éléments
  du header.*/
  display: grid;
  grid-template-columns: 180px 150px auto;
  grid-template-rows: 50px auto;
  grid-template-areas: "maxim pierre adolf" "jean pierre mark";
  position: fixed;
  width: 100%;
  z-index: 6;
}
header .vide1 {
  grid-area: maxim;
  background-color: darkslategray;
}
header .logo {
  grid-area: pierre;
  background-color: darkslategray;
  background-image: url(/puma-pictures/Big-Cat-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header menu {
  grid-area: adolf;
  background-color: darkcyan;
}
header menu ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .vide2 {
  grid-area: jean;
  background-color: darkcyan;
}
header nav {
  grid-area: mark;
  background-color: darkslategray;
}
header nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  font-size: 20px;
  font-style: italic;
  color: aliceblue;
  line-height: 3;
}

.banner {
  grid-area: band;
  text-align: center;
  padding: 50px;
  line-height: 2;
  text-transform: capitalize;
  color: darkcyan;
  letter-spacing: 2px;
  word-spacing: 20px;
  background-image: url(/puma-pictures/maria-fernanda.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner .puma {
  font-size: 30px;
  font-weight: bold;
}
.banner p {
  font-size: 40px;
  font-weight: bolder;
}
.banner .petit {
  font-size: 20px;
}
.banner .btn {
  position: relative;
  top: 150px;
  border: 1px solid #111;
  height: 60px;
}
.banner .btn button {
  width: 150px;
  height: 35px;
  margin: 10px 0 10px 0;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 900;
  background-color: springgreen;
  border: none;
  border-radius: 10pxw;
}

.midle {
  /*Aprés avoir affecter une zone à cette sacetion*/
  grid-area: half;
  /*Nous allons pouvoir positionner les 
  éléments qu"il contient*/
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
}
.midle .face {
  width: 300px;
  height: 350px;
  border: 1px solid #ccc;
  position: relative;
  top: -200px;
}
.midle .face .face-child {
  border: 1px solid #ccc;
  width: 150px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  bottom: -100PX;
  background-color: rgba(6, 196, 202, 0.507);
}

.f1 {
  background-color: chartreuse;
}

.f2 {
  background-color: springgreen;
}

footer {
  grid-area: foot;
}

/*# sourceMappingURL=puma.css.map */
